/* Apply flex layout to the body */
/*
.tooltip {
    position: absolute;
    background-color: #e80c0c;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    pointer-events: none;
}
*/

/* Style for the left and right sections */
.container {
    display: flex;
    width: 100vw; /* Use full viewport width */
}

/* Style for the main section of page */
    .main-section {
        text-align: center;
        padding: 20px;
        background-color: lightgray;
    }

h1 {
    text-align: center;
}

.bar {
    fill: darkgreen;
}
.axis text {
    font: 12px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}


/* Apply flex layout to the body */
body {
    display: flex;
    flex-direction: column;
    margin: 0; /* Remove default margin to avoid extra space around the body */
    font-family: Arial, sans-serif;
}

/* Style for the left and right sections */
.container {
    display: flex;
    flex: 1; /* Allow both sections to grow and take available space */
    width: 100vw; /* Use full viewport width */
}

.left-section {
    flex: 1; /* Adjust the width as needed */
    box-sizing: border-box; /* Include padding and border in the total width/height */
    padding: 20px; /* Add padding to the left section */
    background-color: #f0f0f0; /* Light gray background */
    position: relative; /* Ensure relative positioning */
    z-index: 2; /* Set a higher z-index to bring the bar graph in front */
}

/* Style for the right section (myIframe) */
.right-section {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    margin-top: 50px;
}

.myIframe {
    width: 100%;
    height: 60vh; /* Adjust the maximum height as needed */
    border: none;
    position: absolute; /* Ensure absolute positioning */
    top: 0; /* Align the top of the iframe to the top of the container */
    left: 0;
    z-index: 1; /* Set a lower z-index for the iframe */
    margin-top: 230px;
}

.map-text {
    text-align: center;
    font-family: sans-serif;
    flex: 1;

}

.fullscreen-button {
    position: relative;
    text-align: left;
    z-index: 10; /* Higher z-index to make it accessible */

    margin-bottom: 30px;
}

#dropdown-menu {
    margin-top: 50px; /* Add space to the top */
    margin-bottom: 50px; /* Add space to the bottom */
    width: 50%;
}

#graphSelect {
    margin-top: 50px; /* Add space to the top */
    width: 50%;
    position: relative; /* Ensure relative positioning */
    z-index: 2; /* Set a higher z-index for the dropdown menu */
}

.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
}

.tooltip2 {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 6px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    z-index: 10;
}

.highlighted {
    fill: #ff5733; /* Change the fill color to highlight */
}

#barChart {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.unique {
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
}

p.unique1 {
    text-align: center;
    font-family: sans-serif;
    margin-top: 10px;
    font-size: 20px;
}
